# Ignore everything; whitelist only the files needed to reproduce the example.
*
!.gitignore
!README.md
!under20.pdb
!refme.mtz
!solvent_Fpart.mtz
!under20_occ_groups.eff
!under20_usersolvent_xyzoB_001.log
!under20_defaultsolvent_xyzoB_001.log
!fill_missing_atoms.py
!make_occ_groups.py
!reoccupy.awk
